<!DOCTYPE html>
<hl>HELLO Words!</hl>
<h1><%= t 'hello' %></h1>
<p><%= t 'goodbye' %></p>

This us my first Rails Webpage...

<html>
  <head>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>

    <title>My Inline Style Page</title>
  </head>
  <body style="background-color: #f2f2f2; font-family: Arial, sans-serif; color: #333;">
    <h1 style="text-align: center; font-size: 36px; margin-top: 50px;">HELLO Words!</h1>
    <p style="font-size: 24px; line-height: 1.5; padding: 20px;">  </p>
    <img src="https://via.placeholder.com/350x150" alt="Placeholder image" style="display: block; margin: 0 auto;">
  </body>
</html>

